.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
vite.config.ts
**/.vscode-test.*

.docs/**
.sisyphus/**
screenshot/**
AGENTS.md

node_modules/**
!node_modules/@vscode/codicons/dist/**
!node_modules/devicon/devicon.min.css
!node_modules/devicon/fonts/**
